body{padding-top:80px;font-size:16px!important;width:95%;margin:0 auto;font-family:sans-serif;-webkit-text-size-adjust:100%;}

h3{font-size:20px;}
h4{font-size:18px;margin:10px 0;}
h3[id],h4[id]{position:relative;pointer-events:none;}
h3[id]:before,h4[id]:before{content:'';display:block;height:90px;margin-top:-90px;}
.h3b{font-size:60%;font-weight:normal;}

.gc{padding:10px 4% 0 4%;position:fixed;margin:0 auto;top:0;width:87%;background-color:#fff;border-bottom:solid 2px #000;z-index:10000;}
.gm{display:flex;align-items:center;}
.gc h1{margin:0 auto;padding:0;width:90%;text-align:center;font-size:22px;font-weight:600;}
.gc h1 span,.sgc h1 span{margin:0 5px;padding:0 10px;border-radius:5px;font-size:22px;background-color:#00a;color: #fff;}
.gc nav{margin:0 auto;}
.gc nav ul{list-style:none;margin:10px auto 0 auto;display:flex;justify-content:center;width:fit-content;}
.gc nav li{margin-left:-5px;height:30px;min-width:80px;text-align:center;transform-origin:left;transform:scaleX(0.9);}
.gc nav li a{margin:0 2px;font-weight:600;}
.gc nav li:hover{background-color:#eee;}
.sgc{padding:10px 10px 0 10px;position:fixed;margin:0 auto;left:0;top:0;height:70px;width:calc(100vw - 20px);background-color:#fff;border-bottom:solid 2px #000;z-index:10000;}
.sgc h1{margin:0;width:fit-content;font-size:20px;}

a{color:inherit;}
p{line-height:130%;}

.bc{display:flex;flex-wrap:wrap;width:100%;justify-content:center;height:fit-content;background-color:#fff;margin:0 auto;}
.nc,.sc,.cc,.ic{width:30%;min-width:340px;margin:2px;height:fit-content;}
.ic{min-width:320px;padding:10px;border:solid 1px #444;min-height:300px;border-radius:5px;}
.ic h3,.lnq h3,.lnc h3{margin-top:0;margin-bottom:10px;padding-bottom:5px;pointer-events:none;}
.ic h3,.lnq h3{border-bottom:solid 1px #444;}
.lcc .h3r{border-bottom:solid 1px #444;}
.lcc .h3w{border-bottom:solid 1px #ccc;}
.cc1{width:96%;display:flex;flex-wrap:wrap;}
.sc1{display:flex;flex-wrap:wrap;width:100%;justify-content:center;}
.sc1 hr,.sc1 h3{line-height:50%;}
.ni{width:97%;margin:5px auto;background-color:#fff;border:solid 1px #888;height:fit-content;padding:0 5px;}
.si{display:flex;width:100%;margin:5px 0;height:70px;border-radius:5px;}
.si1{width:32%;min-width:340px;margin:2px;}
.ci{display:flex;width:100%;margin:5px 0;height:70px;}
.ci1{margin:0;}
.ciw{width:32%;min-width:340px;margin:5px;height:fit-content;}
.ciw p{margin:0;padding:5px;font-weight:600;}
.ni p,.ni a,.si p,.si a,.ci a,.ci1 a,.gc a{margin:0 5px;padding:1px;line-height:130%;text-decoration:none!important;}
.ni a{color:#000;}
.nt{font-weight:600;font-size:18px;}
.nd{color:#444;font-size:14px;width:80%;margin:0 15px!important;}
.sd{font-weight:600;margin:auto 1%!important;font-size:16px;min-width:78px;width:16%;text-align:center;transform-origin:top left;transform:scaleX(0.75);}
.st{font-weight:600;margin:auto 1% auto -18px!important;font-size:19px;width:80%;line-height:120%!important;}
.cic{height:100%;margin-right:10px;}
.ct{width:100%;margin:auto -70px auto 0px!important;font-size:18px;font-weight:600;transform-origin:top left;transform:scaleX(0.8);}
.nr{transform-origin:top left;display:inline-block;}

.tag{margin:0 3px;padding:0 7px;border-radius:5px;font-weight:600;font-size:90%;}

.cac{margin:0 auto;width:90%;height:fit-content;padding:5px;border:solid 2px #f00;border-radius:5px;}
.can{margin:0 auto;width:90%;height:fit-content;padding:5px;border:solid 2px #0aa;border-radius:5px;}
.cr{font-size:70%;text-align:center;}
.sl{font-size:16px;}

.nc1{margin:10px;}
.ni1{position:relative;padding:5px;border:solid 1px #888;border-radius:5px;box-shadow:0 3px 2px #ccc;margin-bottom:5px;}
.ni1 p{margin:5px 0;}
.nd1{color:#444;font-size:14px;width:80%;padding-left:5px;}
.nnw{font-weight:600;background-color:#f00;border-radius:5px;padding:1px 5px;color:#fff;margin:0 3px;}
.nni{font-weight:600;background-color:#ff0;border-radius:5px;padding:1px 5px;color:#000;margin:0 3px;}
.nt1{font-weight:500;margin-top:5px;}
.ni1 a{position:absolute;top:0;left:0;width:100%;height:100%;}
.ni1 a:hover{opacity:0.1;background-color:#000;}

@media only screen and (min-width:960px) {
  .sgc{display:none;}
  .mcd{font-size:150%;}
  .svc{width:65%;}
}
@media only screen and (max-width:960px) {
  .gc{display:none;}
  .mcd{font-size:120%;}
  .svc{width:90%;}
}

.as{color:#fff!important;background-color:#000;}
.bi{color:#fff!important;background-color:#e60000;}
.ba{color:#fff!important;background-color:#006630;}
.ch{color:#000!important;background-color:#ff0;}
.ea{color:#000!important;background-color:#ffc000;}
.ec{color:#fff!important;background-color:#0070c0;}
.ge{color:#000!important;background-color:#92d050;}
.in{color:#fff!important;background-color:#7030a0;}
.ka{color:#fff!important;background-color:#9e0000;}
.la{color:#000!important;background-color:#ff8224;}
.ma{color:#000!important;background-color:#64d3ff;}
.ph{color:#fff!important;background-color:#002060;}
.ps{color:#000!important;background-color:#f2f2f2;}
.dev{color:#fff!important;background-color:#888;font-weight:400;}
.ttr{opacity:50%;}

.lg{background:linear-gradient(transparent 60%,#ff6 60%);}
.ls{background:linear-gradient(transparent 60%,#ccc 60%);}
.lb{background:linear-gradient(transparent 60%,#f29f48 60%);}

.n05{width:105%;transform:scalex(0.952);}
.n10{width:110%;transform:scalex(0.909);}
.n15{width:115%;transform:scalex(0.87);}
.n20{width:120%;transform:scalex(0.833);}
.n25{width:125%;transform:scalex(0.8);}
.n30{width:130%;transform:scalex(0.769);}
.n35{width:135%;transform:scalex(0.741);}
.n40{width:140%;transform:scalex(0.714);}
.n45{width:145%;transform:scalex(0.69);}
.n50{width:150%;transform:scalex(0.667);}
.n55{width:155%;transform:scalex(0.645);}
.n60{width:160%;transform:scalex(0.625);}
.n65{width:165%;transform:scalex(0.606);}
.n70{width:170%;transform:scalex(0.588);}
.n75{width:175%;transform:scalex(0.571);}
.n80{width:180%;transform:scalex(0.556);}
.n85{width:185%;transform:scalex(0.541);}
.n90{width:190%;transform:scalex(0.526);}
.n95{width:195%;transform:scalex(0.513);}
.n100{width:200%;transform:scalex(0.5);}
.n105{width:205%;transform:scalex(0.488);}

.mb{position:fixed;top:10px;right:10px;display:flex;height:60px;width:60px;justify-content:center;align-items:center;z-index:90;background-color:#222;}
.mb span,.mb span:before,.mb span:after{transition:300ms;content:'';display:block;height:3px;width:25px;border-radius:3px;background-color:#fff;position:absolute;}
.mb span:before{bottom:8px;}
.mb span:after{top:8px;}
#mbc:checked~.mb span{transition:300ms;background-color:rgba(255,255,255,0);}
#mbc:checked~.mb span::before{bottom:0;transition:300ms;transform:rotate(45deg);}
#mbc:checked~.mb span::after{top:0;transition:300ms;transform:rotate(-45deg);}
#mbc{display:none;}
.mc{transition:300ms;width:100%;height:100%;position:fixed;top:0;left:100%;z-index:80;background-color:#555;}
.mc ul{padding:70px 10px 0;}
.mc ul li{border-bottom:solid 1px #fff;list-style:none;}
.mc ul li a{display:block;width:100%;font-size:15px;box-sizing:border-box;color:#fff;text-decoration:none;padding:9px 15px 10px 0;position:relative;font-weight:600;}
.mc ul li a::before{content:"";width:7px;height:7px;border-top:solid 2px #fff;border-right:solid 2px #fff;transform:rotate(45deg);position:absolute;right:11px;top:16px;}
#mbc:checked~.mc{transition:300ms;left:0;}

.tls{margin:0 5px;}

.mca{margin:0 auto 40px auto;}
.mca thead th,.mca td{width:12vw;min-width:150px;text-align:center;border:1px solid #888;}
.mca tbody th{text-align:left;vertical-align:top;}
.mtb{color:#fff;background-color:#00b;}
.mtr{color:#fff;background-color:#f00;}
.mib{color:#fff;background-color:#88d;}
.mir{color:#fff;background-color:#f88;}
.mca td{font-weight:600;vertical-align:top;}
.mcd{width:30px;color:#888;}
.mci{margin:2px;padding:2px;text-align:left;font-size:90%;border-radius:5px;}
.db{color:#88d;}
.dr{color:#f88;}
.ctt{margin:40px auto 0 auto;width:360px;padding:0;text-align:center;font-size:16px;}
.ctb{display:inline-block;pointer-events:all;width:80px;font-weight:400;font-size:13px;border:1px solid #444;text-align:center;color:#444;margin:auto 5px;padding:2px;border-radius:5px;}
.tp{font-weight:500;width:90vw;margin:0 auto;}

.mcb th{width:60px!important;text-align:center!important;border-radius:5px;}
.mcb td{width:70vw!important;text-align:left;}
.ccc{width:100%;}

.ud::before{background-image:url(icon/arrows-rotate-solid.svg);content:"";display:inline-block;width:20px;height:20px;margin-right:10px;background-size:contain;vertical-align:middle;}
.ur{display:none;}

.vba,.vbc,.vbg,.vbq{border-radius:5px;font-weight:600;padding:2px 10px;display:flex;align-items:center;}
.vba p,.vbc p,.vbg p,.vbq p{margin:5px;}
.vba img,.vbc img{width:8px;height:42px;margin:5px 20px 5px 20px;vertical-align:middle;}
.vbg img,.vbq img{width:40px;height:40px;margin:5px 4px 5px 4px;vertical-align:middle;}
.vba{border:solid 2px #f00;color:#f00;}
.vbc{border:solid 2px #fa0;}
.vbg{border:solid 2px #0d0;}
.vbq{border:solid 2px #777;}

.sli ul li{position:relative;list-style:none;}
.sli ul li:before{content:"・";font-size:18px;position:absolute;top:0px;left:-30px;}

.std label{margin:5px 5px 5px 0;}
.std label input{display:none;}
.std label span{font-size:16px;border-radius:3px;padding:2px 10px;font-weight:600;height:21px;}
.std label input:checked + span{border:1px solid #fff;}
.std label input:not(:checked) + span{background-color:#fff!important;border:1px solid #000;color:#000!important;}

.stc{border:solid 2px #bbb;border-radius:5px;padding:0 5px;}
.sti{margin:5px 0;}
.sts{font-weight:500;background-color:#000;color:#fff;padding:5px;}
.std{display:flex;flex-wrap:wrap;margin:5px 0;}
.stc button{font-size:16px;margin-bottom:5px;}

.bov{overflow:hidden;}

.svc{position:relative;aspect-ratio:3507/2480;margin:10px auto;border-radius:5px;border:solid 1px #000;}
.svg{position:absolute;top:0;left:0;}
.kbe{fill:#888;}
.kqn{fill:#f80;}
.kqf{fill:#0bb;}
.krd{fill:#f00;}

.lnk{position:relative;border:solid 1px #888;border-radius:5px;padding:5px;max-width:330px;width:90%;margin:10px 0;}
.lnk a,.lnq a,.lnc a{position:absolute;top:0;left:0;width:100%;height:100%;border-radius:5px;box-shadow:0 3px 2px #888;z-index:3;}
.lnk a:hover,.lnq a:hover,.lnc a:hover{background-color:#000;opacity:0.1;box-shadow:0 3px 2px #000;}
.lnk p{margin:3px;}

.lnq,.lnc{position:relative;padding:10px;border:solid 1px #888;border-radius:5px;width:30%;min-width:320px;margin:2px;height:fit-content;}
.lnq{min-height:150px;}
.lnc{min-height:110px;}

.ltx,.lty{transform:scaleX(0.75);width:133%;word-break:break-all;transform-origin:top left;margin:3px;font-size:12px;}
.ltx{color:#444;}
.lty{color:#ddd;}
.lbx,.lby{position:absolute;top:0;left:0;margin:5px;font-size:100px;opacity:0.45;z-index:1;}
.lbx{text-shadow:1px 0px #000,0px -1px #000,-1px 0px #000,0px 1px #000;}
.lby{text-shadow:1px 0px #fff,0px -1px #fff,-1px 0px #fff,0px 1px #fff;}

.lcc{position:absolute;z-index:2;margin:auto;width:94%;pointer-events:none;}
.ch3{display:flex;text-align:center;align-items:center;}
.ch3::before,.ch3::after{content:"";height:1px;flex-grow:1;background-color:#444;margin:0 10px;}

.lks{display:flex;flex-wrap:wrap;width:100%;justify-content:left;height:fit-content;background-color:#fff;margin:0 auto;}

.hba{position:relative;width:100%;height:100px;}
.hbc{position:absolute;top:0;left:0;margin:20px;z-index:2;}
.hba p{margin:0;}
.hbt{font-size:30px;font-weight:600;}
.hbe{font-size:20px;font-weight:300;opacity:0.7;}
.hba img{position:absolute;width:100%;height:100%;object-fit:cover;z-index:1;object-position:right;}
.joc{position:relative;width:90%;height:fit-content;min-height:80px;margin:0 auto;padding:10px;border-radius:5px;}
.joc p{margin:0 auto;width:fit-content;}
.joc .d{font-size:20px;}
.joc .t{font-size:30px;font-weight:600;}
.joc a{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;}

.cqt{table-layout:fixed;width:80%;min-width:360px!important;}
.cqt th{width:25%;padding:10px;}
.cqt td{width:75%;padding:10px;}
.cqt .nu{width:40px!important;font-size:30px;padding:0;min-width:20px!important;}

.ast th{width:15%;min-width:100px;padding:10px;}
.ast td{width:60%;min-width:200px;padding:10px;}

.cb{font-size:18px;font-weight:600;padding:5px 10px;margin:10px 0;}
.cbs{font-size:16px;font-weight:600;}
.cbs:before{content:"◆";}

.npc{width:100%;height:fit-content;margin:10px auto;}
.npc a{border-radius:3px;border:solid 1px #000;text-decoration-line:none;padding:2px 4px;display:inline-block;margin-bottom:5px;}